* {
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 184, 184);
}

header {
    text-align: center;
}

ul {
    text-align: center;
    padding: 0px;
    display: block;
    
    flex-direction: row;
}

.aa {
    text-decoration: underline;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    color: red;
}

.lli {
    margin-left: 20px;
}

li {
    display: inline;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0px;
}

.div-0 {
    border: 2px solid rgb(0, 0, 0);
    padding: 0px 15px 35px 15px;
    background-color: grey;
    white-space: normal;
    border-radius: 5px;
}

pre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.line0 {
    border: none;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin-top: 50px;
}

.line0:last-of-type {
    display: none;
}


.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background: rgb(184, 184, 184);
    font-size: 20px;
}

.pagination {
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 10;
}

.pagination-page-info {
    padding: .6em;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 18px;
}

.active {
    text-decoration: underline;
}

.niz {
    display: contents;
}

.code {
    color: black;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background: rgb(184, 184, 184);
    font-size: 20px;
    }

.flash {
    padding: 10px;
}

.flash.success {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.button {
    border: 2px solid #000000;
    border-radius: 5px;
    background: rgb(184, 184, 184);
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.button:active {
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    background: rgb(110, 110, 110);
}

.like {
    content: url('/static/img/like.png');
    float: right;
    width: 50px;
    height: 50px;
}

.like[disabled] {
    content: url('/static/img/like_active.png');
}

.dislike {
    content: url('/static/img/dislike.png');
    float: right;
    width: 50px;
    height: 50px;
}

.dislike[disabled] {
    content: url('/static/img/dislike_active.png');
}
