{% extends 'base.html' %}

{% block content %}
<pre>
Связь с админом:
<a class="aa" href="https://t.me/alex_shiny">https://t.me/alex_shiny (Александр)</a>

Исходный код на github:
<a class="aa" href="https://github.com/id1415/anekdot">https://github.com/id1415/anekdot</a>

Анекдотов в базе - <b>{{raw}}</b>

На главной странице выводятся 10 случайных анекдотов.
Если обновить страницу, то выведутся другие 10 анекдотов.
Обновить страницу можно 3-мя способами - нажать на логотип, нажать на ОБНОВИТЬ внизу страницы, либо обновить страницу в браузере.

Страница <b>Лучшие анекдоты</b> содержит 100 анекдотов с наивысшими рейтингами.
Страница <b>Новые анекдоты</b> содержит 100 последних анекдотов, добавленных пользователями.

<b>ВНИМАНИЕ - Сайт использует куки для хранения поискового запроса!</b>
В поиск можно ввести слово, фразу, либо id анекдота.
Можно ввести несколько слов через ; например - <b>американец;немец;русский</b>. Выведутся анекдоты в которых встречаются эти слова.
Поиск НЕ чувствителен к регистру.
В поиск можно ввести от 3 до 50 символов.

По некоторым причинам оценивать анекдоты можно только на главной странице.

По вопросам, предложениям и багам - писать в тг.

</pre>
{% endblock %}
