{% extends 'base.html' %}

{% block content %}
    <p class="some_text">
        Создатель сайта - <b>Александр Шушарин</b>
        Связь со мной - <b>id1415@yandex.ru</b>

        Ссылка на зеркало:
        <a class="code" href="https://id1415.pythonanywhere.com/">https://id1415.pythonanywhere.com/</a>
        Исходный код на github:
        <a class="code" href="https://github.com/id1415/anekdot">https://github.com/id1415/anekdot</a>

        Анекдотов в базе - <b>111707</b>
        
        На главной странице сайта выводится 10 случайных анекдотов. Если обновить страницу, то выведутся другие 10 анекдотов.
        Обновить страницу можно 3-мя способами - нажать на логотип, нажать на ОБНОВИТЬ внизу страницы, либо обновить страницу в браузере.
        
        Поиск работает по прямому вхождению. Другими словами, если ввести в поиск слово <b>борщ</b>, то помимо анекдотов включающих это слово, будут выведены анекдоты со словами <b>сборщик</b>, <b>уборщик</b> и т.д. Чтобы этого избежать, в начале слова нужно поставить пробел, вот так - <b>" борщ"</b>(без кавычек).
        Выведутся все результаты со словами <b>борщ</b>, <b>борща</b>, <b>борщить</b> и т.д.
        Это не всегда работает, например если ввести слово <b>" трус</b>(с пробелом в начале), то помимо анекдотов про трУсов, выведутся анекдоты про трусЫ и про бег трусцой. Потому что слово <b>трус</b> входит в эти слова. Так работает поиск по прямому вхождению.
        Некоторые матерные слова нужно всегда вводить с пробелом в начале, иначе - психуй, страхуй, штрихуй, влюблять, употреблять, усугублять, стебать, хлебать, огребать...
        Иногда лучше опускать окончания. Например чтобы вывести анекдоты со словами <b>уборщик</b> и <b>уборщица</b>, нужно ввести <b>уборщи</b> или <b>уборщ</b>.
        Можно вводить фразы, например <b>муж и жена</b>, но если ввести наоборот <b>жена и муж</b>, то результаты будут отличаться.
        Поиск НЕ чувствителен к регистру.
        В поиск НЕЛЬЗЯ ввести пустую строку или пробел.
        Запрос должен состоять из минимум 3 и максимум 100 символов.
    </p>
{% endblock %}