{% extends 'base.html' %}

{% block content %}
<pre>
Создатель сайта - <b>Александр Шушарин</b>
Связь со мной - <b>id1415@yandex.ru</b>

Исходный код на github:
<a class="aa" href="https://github.com/id1415/anekdot">https://github.com/id1415/anekdot</a>

Анекдотов в базе - <b>{{raw}}</b>

На главной странице выводятся 10 случайных анекдотов.
Число в начале каждого анекдота - это id анекдота в базе.
Если обновить страницу, то выведутся другие 10 анекдотов.
Обновить страницу можно 3-мя способами - нажать на логотип, нажать на ОБНОВИТЬ внизу страницы, либо обновить страницу в браузере.

В поиск можно ввести слово, фразу, либо id анекдота.
Поиск НЕ чувствителен к регистру.
В поиск НЕЛЬЗЯ ввести пустую строку или пробел.
Запрос должен состоять из минимум 3 и максимум 30 символов.

<b>Что планируется добавить:</b>
&nbsp;&nbsp;&nbsp;&nbsp;- Рейтинг и оценку каждому анекдоту
</pre>
{% endblock %}