{% extends 'base.html' %}

{% block content %}
<pre>
<b>ВНИМАНИЕ!</b>
В поле допускается от 10 до 2000 символов.
Просьба соблюдать грамматику, синтаксис и правила русского языка.
Копирование анекдотов с других ресурсов осуществлять с разрешения администрации или автора!
Нарушение законов Российской Федерации, оскорбления, спам и флуд недопустимы!
</pre>
<!-- флэш сообщение об отправке -->
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
     
    <form method="POST">
        {{ text_form.csrf_token }}
        {{ text_form.text }}
        {{ text_form.recaptcha }}
        <div class="d1">
        <input class="button" type="submit" value="Отправить">
        </div>
    </form>

{% endblock %}