<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- vercel tag -->
    <script defer src="/va/script.js"></script>
    
    <!-- jquery tag -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Случайные анекдоты.">
    <meta name="keywords" content="анекдот, случайный анекдот">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo-0.png') }}" alt="ха-ха">
        </a>
    </header>
    <div class="d1">
        <form>
            {{ search_form.search }}
        </form>
        {% block search %}

        {% endblock search %}
    </div>
    <main>
        <div class="div-0">
            <h1><b>{{ title }}</b></h1>
            <p class="some-text">
                {% block content %}

                {% endblock content %}
            </p>
        </div>
        {% block search1 %}

        {% endblock search1 %}
        <nav>
            <ul>
                {% for m in menu %}
                <li><a class="aa" href="{{m.url}}">{{m.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </main>
</body>
</html>
