<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Анекдоты">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo-0.png') }}" alt="Логотип">
        </a>
    </header>
    <div class="d1">
        <form>
            <input type="search" name="q" placeholder="Искать здесь...">
        </form>
        {% block search %}

        {% endblock search %}
    </div>
    <main>
        <section class="section-0">
            <div class="div-0">
                <h1><b>{{ title }}</b></h1>
                <p class="some_text">
                    {% block content %}
                        
                    {% endblock content %}
                </p>
            </div>
        </section>
        <section>
            {% block search1 %}

            {% endblock search1 %}
        </section>
        <section>
            <nav>
                <ul>
                    {% for m in menu %}
                    <li><a class="aa" href="{{m.url}}">{{m.name}}</a></li>
                    <br>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>
