<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анекдоты</title>
    <meta name="description" content="Анекдоты">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <header>
        <!-- ссылка -->
        <a href="https://anekdots.vercel.app/">
            <img src="{{ url_for('static', filename= 'img/logo-0.png') }}" alt="Логотип">
        </a>
    </header>
    <div class="d1">
        <form class="form-inline">
            <input class="form-control" type="search" name="q" placeholder="Искать здесь...">
        </form>
        {% block search %}

        {% endblock %}
    </div>
    <main>
        <section class="section-0">
            <div class="div-0">
                <p class="some_text">
                    {% block content %}
                        
                    {% endblock %}
                </p>
            </div>
        </section>
        <section>
            {% block search1 %}

            {% endblock %}
        </section>
        <section>
            <nav>
                <ul>
                    <!-- ссылка -->
                    <li><a class="aa" href="https://anekdots.vercel.app/">ОБНОВИТЬ</a>
                        <br>
                        <a class="aa" href="{{ url_for('about') }}">О САЙТЕ</a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>
