{% extends 'base.html' %}

{% block content %}
    {% for post in anekdots %}
        <pre><b>{{ post[0] }}</b></pre>
        <pre>{{ post[1] }}</pre>

        <!-- кнопка дизлайка -->
        <!-- <form method="post">
        <input type="image" class="dislike" name="dislike" value="dislike" onclick="this.disabled=true;"></input> 
        </form> -->

        <script>
            function like(elem){
                elem.disabled=true
            }
        </script>

        <script>
            function dislike(elem){
                elem.disabled=true
            }
        </script>
        
        <form method="POST">
            {{ like_form.dislike }}
            {{ like_form.like }}
        </form>
        <!-- кнопка лайка -->
        <!-- <form method="post">
        <input type="image" class="like" id="like" name="like" value="like" onclick="like(this)"></input> 
        </form> -->

        <hr class="line0">
    {% endfor %}
{% endblock %}