{% extends 'base.html' %}

{% block content %}

    <script>  // в список помещается id анекдотов
        var lst = []
    </script>

    {% for post in anekdots %}
        <b>{{ post.id }}</b>
        <pre>{{ post.text }}</pre>
        
        <form action="/" method="post">
            {{ like_form.dislike }}
            <b class="rate">{{ post.rating }}</b>
            {{ like_form.like }}
        </form>

        <hr class="line0">
        
        <script>  // добавление id анекдота в список lst
            lst.push("{{post.id}}");
        </script>

    {% endfor %}
    
    <script> // По нажатию лайка увеличивается цифра рейтинга
        document.addEventListener('click', ({ target: t }) => {
            if (t.classList.contains('like')) {
                const index = [...document.querySelectorAll('.like')].indexOf(t);
                const count = document.querySelectorAll('.rate')[index];
                count.innerText -= -1;
            }
        });
    </script>

    <script> // По нажатию дизлайка уменьшается цифра рейтинга
        document.addEventListener('click', ({ target: t }) => {
            if (t.classList.contains('dislike')) {
                const index = [...document.querySelectorAll('.dislike')].indexOf(t);
                const count = document.querySelectorAll('.rate')[index];
                count.innerText -= 1;
            }
        });
    </script>

    <script>  // в цикле классам like и dislike присваиваются id из списка lst
        for (var i = 0; i < 11; i++) {
        document.getElementsByClassName("like")[i].id = lst[i];
        document.getElementsByClassName("dislike")[i].id = lst[i];
        }
    </script>

    <script>  // функция срабатывает по пользовательскому клику
        $(".like").click(function () {
            const elem = this.id;  // id элемента
            $.ajax({
                url:'/',
                type:'POST',
                data:{'like': elem, 'dislike': ''},  // эти данные передаются в бэкэнд
            });
            
            this.disabled=true;  // кнопка становится неактивной
        })
    </script>

    <script>  // всё то же самое для дизлайка
        $(".dislike").click(function () {
            const elem = this.id;
            $.ajax({
                url:'/',
                type:'POST',
                data:{'like': '', 'dislike': elem},
            });

            this.disabled=true;
        })
    </script>

{% endblock %}