{% extends 'base.html' %}

{% block content %}

    <script>  // в список помещается id анекдотов
        var lst = [];
    </script>

    {% for post in anekdots %}
        <b>{{ post.id }}</b>
        <pre>{{ post.text }}</pre>
        
        <form action="/" method="post">
            {{ like_form.dislike }}
            <b class="rate">{{ post.rating }}</b>
            {{ like_form.like }}
        </form>

        <hr class="line0">
        
        <script>  // добавление id анекдота в список lst
            lst.push("{{post.id}}");
        </script>

    {% endfor %}
    
    <script src="{{ url_for('static', filename='scripts/click_like.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/click_dislike.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/id.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/like.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dislike.js') }}"></script>

{% endblock %}