{% macro pagination_results(results, page_name) %}
    <div class="pagination">
        {% if results.has_prev %}
            <span>
                <a class='page-number' href="{{ url_for(page_name, page=results.prev_num) }}">{{ '<<<' }}</a>
            </span>
        {% endif %}

        {% for number in results.iter_pages(left_edge = 2, right_edge = 2, left_current = 2, right_current = 4) %}

                {% if results.page != number %}
                    {% if number != None %}
                        <span>
                            <a class='page-number' href="{{ url_for(page_name, page=number) }}">{{ number }}</a>
                        </span>
                    {% else %}
                        <span>{{ '...' }}</span>
                    {% endif %}
                {% else %}
                    <span class='current-page-number'>{{ number }}</span>
                {% endif %}
            
        {% endfor %}

        {% if results.has_next %}
            <span>
                <a class='page-number' href="{{ url_for(page_name, page=results.next_num) }}">{{ '>>>' }}</a>
            </span>
        {% endif %}
    </div>
{% endmacro %}

{% macro results_page(results) %}
    {% for result in results %}
        <pre><b>{{ result.id }}  Рейтинг: {{ result.rating }}</b></pre>
        <pre>{{ result.text }}</pre>
        <hr class="line0">
    {% endfor %}
{% endmacro %}